
.pane {
    & > .slider {
        height: 100%;
        width: 100%;
        & > .slider-slides > .slider-slide {
            background: #fff url('../img/bg.jpg') 50% 50% no-repeat;
            @include background-size(cover);
            font-family: 'microsoft yahei';

            & > .hd {
                height: 60%;
                overflow: auto;
            }

            & > .bd {
                height: 40%;
            }

            & > .ft {
                bottom: 0;
                position: absolute;
                text-align: center;
                width: 100%;
            }
        }
    }
}


.logo {
    background: url('../img/logo.gif') 50% 50% no-repeat;
    @include background-size(cover);
    height: 200px;
    margin: 20% auto 0;
    position: relative;
    width: 200px;

    &:after {
        background-color: rgba(0, 0, 0, .15);
        border: 1px solid #fff;
        border-radius: 50%;
        content: '';
        height: 160px;
        left: 50%;
        margin-left: -80px;
        position: absolute;
        width: 160px;
        z-index: -1;
    }
}

.logo-expect {
    background-image: url('../img/expect.gif');
}

.arrow {
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    font-size: 18px;
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
    text-decoration: none;
    width: 25px;

    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

.party-title,
.party-time {
    color: #fff;
    text-align: center;
}

.party-title {
    font-size: 30px;
    font-weight: normal;
    margin-top: 0;
}
.party-time {
    font-size: 15px;
}



.party-pic {
    .slider {
        height: 100%;
        width: 100%;

        .slider-slide {
            img {
                bottom: 0;
                height: 95%;
                left: 50%;
                margin-left: -45%;
                position: absolute;
                width: 90%;
            }
        }
        .slider-pager-page {
            color: #fff;
        }

        h2 {
            font-family: 'microsoft yahei';
            font-weight: bold;
        }
    }
}

.party-intro {
    background-color: #e7e7e7;
    font-size: 14px;
    padding: 20px;
}
.party-intro-title {
    border-bottom: 1px solid #808080;
    font-size: 1.4em;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.party-intro-content {
}


.party-info {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 320px){
    .party-info {
        width: 300px;
    }
}
@media screen and (max-width: 320px){
    .party-info {
        width: 250px;
    }
}
.party-info-row {
    border-bottom: 1px solid #fff;
    line-height: 25px;
    overflow: auto;
}
.party-info-row-first {
    border-top: 1px solid #fff;
}
.party-info-cell {
    float: left;
    min-width: 20%;
}
.party-info-cell-1 {
    font-size: 18px;
    text-align: center;
}
.party-info-cell-2 {
    border-left: 1px solid #fff;
    padding-left: 1em;
}


.signup {
    background-color: #666;
    display: inline-block;
    height: 10px;
    left: 50%;
    margin-left: -50px;
    position: relative;
    width: 100px;
}

#popupSignup {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.ui-input-text {
    border-color: #666;
    border-radius: 5px;
}
.ui-input-btn {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
}
