<ion-super-slide-box direction="'vertical'" show-pager="false">
    <ion-super-slide>
        <div class="hd">
            <div class="logo"></div>
        </div>
        <div class="bd">
            <h2 class="party-title">中路资本五月酒会</h2>
            <p class="party-time">2014年5月19日下午6点</p>
        </div>
        <div class="ft">
            <a href="" class="arrow"><i class="ion-ios7-arrow-up"></i></a>
        </div>
    </ion-super-slide>
    <ion-super-slide>
        <div class="hd party-pic">
            <ion-super-slide-box>
                <ion-super-slide ng-repeat="pic in introPics">
                    <img ng-src="./img/{{ pic }}.jpg" alt="">
                </ion-super-slide>
            </ion-super-slide-box>
        </div>
        <div class="bd party-intro">
            <h4 class="party-intro-title">酒会简介</h4>
            <p class="party-intro-content">专注移动互联网领域天使阶段，中路资本在2013 年投资逾60家初创企业，并致力于推动其快速成 长。酒会将为企业与投资机构提供充分的双向交流的机会，共同谋求互联网大潮中的持续型发展。</p>
        </div>
        <div class="ft">
            <a href="" class="arrow"><i class="ion-ios7-arrow-up"></i></a>
        </div>
    </ion-super-slide>
    <ion-super-slide>
        <div class="hd">
            <div class="logo logo-expect"></div>
        </div>
        <div class="bd party-info">
            <div class="party-info-row party-info-row-first">
                <div class="party-info-cell party-info-cell-1"><i class="ion-ios7-telephone"></i></div>
                <div class="party-info-cell party-info-cell-2">021-50591378-8078</div>
            </div>
            <div class="party-info-row">
                <div class="party-info-cell party-info-cell-1"><i class="ion-ios7-email"></i></div>
                <div class="party-info-cell party-info-cell-2">hsli@zhonglu.com.cn</div>
            </div>
            <div class="party-info-row">
                <div class="party-info-cell party-info-cell-1"><i class="ion-ios7-location"></i></div>
                <div class="party-info-cell party-info-cell-2">上海市徐汇区东安路8号</div>
            </div>
        </div>
        <div class="ft">
            <!-- <a href="#popupSignup" class="signup"></a> -->
        </div>
    </ion-super-slide>
</ion-super-slide-box>
